[Unit]
Description=sui service
After=network.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
User={{ sui_user }}
Group={{ sui_user }}
#WorkingDirectory="{{ sui_user_dir }}/sui"
ExecStart=/home/sui/.cargo/bin/sui-node --config-path {{ sui_fullnode_dir }}/fullnode.yaml
Restart=always


[Install]
WantedBy=default.target
